<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Safetruck</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen,print">
    <link rel="stylesheet" href="https://app.safetruck.com.br/print/report/style.css" media="screen,print">
    <script src="https://app.safetruck.com.br/print/report/jquery-3.1.1.min.js"></script>
    <style>
        .header {
            background-color: #BDBDBD;
            height: 30px;
            margin-bottom: 10px;
        }
        .block {
            margin-bottom: 20px;
            border: 1px solid #BDBDBD;
        }
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;
        }
        .col-xs-12 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .header header {
            color: #FFF;
            font-weight: bold;
            text-align: center;
        }
        @media print{a[href]:after{content:none}}
        div.item-report {
           page-break-inside: avoid !important;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>