<head>
    <meta charset="UTF-8">
    <meta name="description" content="Free Web tutorials">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="Hege Refsnes">
</head>

<body>
<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                    <tr>
                        <td class="content-wrap">
                            <meta itemprop="name" content="Confirm Email"/>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block" ><img src="http://safetruck.com.br/wp-content/uploads/2016/04/oie_transparent-2.png"></td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Olá, <strong>{{name}}</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block">
                                        Foi solicitado a alteração da sua senha com o e-mail <strong>{{email}}</strong>.
                                        <br><br>Para ativa-la, clique no link abaixo:.
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                                        <a href="{{url}}" class="btn-primary" itemprop="url">Altere sua Senha</a>
                                        <br>
                                    </td>
                                </tr>
                                <tr><td class="content-block"><br></td></tr>
                                <tr>
                                    <td class="content-block">
                                        &mdash; Safetruck
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
                        <tr>
                            <td class="aligncenter content-block">Este é um e-mail automático disparado pelo sistema. Favor não respondê-lo, pois esta conta não é monitorada.</td>
                        </tr>
                        <tr>
                            <td class="aligncenter content-block">Programa <a href="http://www.safetruck.com.br">Safetruck</a>.</td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>
</body>


