env:
  - CXX=g++-4.8
sudo: required
language: node_js
services:
  - docker
node_js:
  - "6"
  - "7"
before_script:
  - npm install -g gulp-cli 
  - npm install 
  - npm run builder:compile
  - docker run -p 28015:28015 -d rethinkdb
deploy:
  skip_cleanup: true
  provider: npm
  email: $NPM_EMAIL
  api_key: $NPM_AUTH
  on:
    tags: true
    all_branches: false
    condition: "$TRAVIS_TAG =~ ^([0-9]+).([0-9]+).([0-9]+).*$"
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - gcc-4.8
    - g++-4.8
